[submodule "documentation"]
	path = documentation
	url = https://github.com/kaoutharZohra/Rapport-master-2-ESI-Latex.git
[submodule "Rapport-master-2-ESI-Latex"]
	path = Rapport-master-2-ESI-Latex
	url = https://github.com/kaoutharZohra/Rapport-master-2-ESI-Latex.git
